<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>发票申请平台</title>
		<link rel="stylesheet" href="__PUBLIC__/zsj_fp/css/index.css" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<style type="text/css">
			.hwh-page-info a{color: #CCC;}
			.hwh-page-info a em{font-style: normal;margin: 0 2px;}
			
		</style>
    </head>
	<body>
		<div class="container1">
			<!--top-->
			<div class="top">发票查看后台管理</div>
			<!--bottom-->
			<div class="bottom">
				<div class="bot_in pad">
					<include file="Public:lefter" />
					<div class="box_inr l">
						<div class="ly">
							<span>收件箱（共<i>{$menusCounts}</i>封未读）</span>
							<!--form-->
							<form class="form11">
								<table>
									<tr>
										<th style="">公司</th>
										<th style="">标题</th>
										<th style="">时间</th>
										<th style="">电话</th>
										<th style="">查看详情</th>
									</tr>
									<volist name="lis" id="vo">
									<tr>
										<td hidden>{$vo.id}</td>
										<td>{$vo.user_id|com}</td>
										<td>{$vo.company_title}</td>
										<td>{$vo.datetime}</td>
										<td>{$vo.user_id|pho}</td>
										<td hidden>{$vo.company_cont}</td>
										<td><a class="ly_xq" href="javascript:void(0)">详情</a></td>
									</tr>
									</volist>				
								</table>
							</form>
							<!--form-->
						</div>
						<center>
							<div class="result page">{$page_show}</div>
						</center>
					</div>
				</div>
			</div>
		</div>
		<script src="__PUBLIC__/zsj_fp/js/jquery.js"></script>
		<script src="__PUBLIC__/layer/layer.js"></script>
		<script src="__PUBLIC__/chajian/delog.js"></script>
		<script src="__PUBLIC__/zsj_fp/js/back_zsjly.js"></script>
	</body>
</html>
